@import "@/assets/styles/_variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;600;800&display=swap');

html, body {
  font-family: $font;
  background: $light-black;
  color: $off-white;
  margin: 0;
  padding: 0;
}

a {
  color: $off-white;
  text-decoration: $off-white;
}

.content {
  margin: auto;

  @media screen and (max-width: $sm) {
    max-width: $sm;
  }
  @media screen and (min-width: $md) {
    max-width: $md;
  }
  @media screen and (min-width: $lg) {
    max-width: $lg;
  }
  @media screen and (min-width: $xl) {
    max-width: $xl;
  }
  @media screen and (min-width: $xxl) {
    max-width: $xxl;
  }  
}